
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
nav {
    background: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 8px 15px;
    background: #777;
    border-radius: 5px;
}

nav a:hover {
    background: maroon;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
